.triggerContainer {
  pointer-events: auto;
  transform: translate(24px, -50%);
  transition: opacity 0.2s ease-in-out;
}

.triggerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: "Press Start 2P", cursive;
  padding: 0;
}
