.triggerContainer {
  pointer-events: auto;
  transform: translate(16px, -50%);
  transition: opacity 0.2s ease-in-out;
}

.triggerButton {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  font-family: "Press Start 2P", cursive;
  color: var(--primary-color);
}

.triggerIcon {
  color: var(--primary-color);
}
